@using System.Data;
@using ST.CMS.Database;
@using ST.Framework;

@{
    Page.Title = "内容管理";

    var action = Request["action"];
    var id = Request["id"];
    var classid = Request["classid"];
    var db = DContent.Form(action, id);

    System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();
    var defaultfield = new List<dynamic>();

    var modelid = String.Empty;
    var modelname = String.Empty;
    var modelcontent = String.Empty;
    var modeljson = String.Empty;
    var diyfield = new List<dynamic>();
    
    if (action != null)
    {
        modelid = DNav.Details(classid)[0]["modelid"].ToString();
        var model = DModel.Details(modelid);
        modelname = model[0]["name"].ToString();
        modelcontent = model[0]["content"].ToString();
        modeljson = model[0]["json"].ToString();
        defaultfield = js.Deserialize<List<dynamic>>(modelcontent);
        diyfield = js.Deserialize<List<dynamic>>(modeljson);
        
    }
    
    if (action == "update")
    {
        var datajson = js.Deserialize<Dictionary<string ,object>>(db[0]["json"].ToString());
        var newjson = new List<dynamic>();

        if (diyfield != null)
        {
            foreach (var it in diyfield)
            {
                newjson.Add(new Dictionary<string, object>() { { "field", it["field"] }, { "name", it["name"] }, { "default", it["default"] }, { "bind", datajson.ContainsKey(it["field"]) ? datajson[it["field"]] :"" }, { "type", it["type"] } });
            }
        }

        diyfield = newjson;
    }

    if (action == "delete")
    {
        DContent.Delete(id);
        Response.Redirect("content?action=list&classid=" + classid);
    }
    
    if (IsPost)
    {

        var inputdiyfield = new Dictionary<string, object>();
        if (diyfield != null)
        {
            foreach (var j in diyfield)
            {
                inputdiyfield.Add(j["field"], Request.Unvalidated().Form["st_model_" + j["field"]]);
            }
        }

        Dictionary<string, object> d = new Dictionary<string, object>();
        d.Add("classid", classid);
        d.Add("modelid", modelid);
        d.Add("title", Request["st_title"]);
        d.Add("image", Request["st_image"] ?? String.Empty);
        d.Add("content", Request.Unvalidated().Form["st_content"] ?? String.Empty);
        d.Add("json", js.Serialize(inputdiyfield));
        d.Add("ishide", Request["st_ishide"] ?? "0");
        
        if (action == "update")
        {
            DContent.Update(d, id);
        }
        else
        {
            DContent.Insert(d);
        }
        Response.Redirect("content?action=list&classid=" + classid);
    }
}
@functions{
    public IHtmlString IsDisplay(bool c)
    {
        return new HtmlString(c ? "" : " style=\"display:none\"");
    }
}
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="row">
        <div class="col-md-3">
            <a href="content" class="btn btn-block margin-bottom bg"><i class="fa fa-home"></i> 内容首页</a>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">内容</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="box-body no-padding">
                    <ul class="nav-stacked">
                        @{
                            var list1 = DNav.List("0");
                            foreach (DataRowView it1 in list1)
                            {
                                <li><a href="?action=list&classid=@it1["id"]"><i class="fa fa-caret-right"></i> <strong>@it1["name"]</strong> </a><span class="pull-right"><a href="?action=insert&classid=@it1["id"]"><i class="fa fa-plus"></i></a></span></li>
                                var list2 = DNav.List(@it1["id"].ToString());
                                foreach (DataRowView it2 in list2)
                                {
                                    <li><a href="?action=list&classid=@it2["id"]">　<i class="fa fa-caret-right"></i> @it2["name"] </a><span class="pull-right"><a href="?action=insert&classid=@it2["id"]"><i class="fa fa-plus"></i></a></span></li>
                                    var list3 = DNav.List(@it2["id"].ToString());
                                    foreach (DataRowView it3 in list3)
                                    {
                                        <li>　　<a href="?action=list&classid=@it3["id"]"><i class="fa fa-caret-right"></i> @it3["name"] </a><span class="pull-right"><a href="?action=insert&classid=@it3["id"]"><i class="fa fa-plus"></i></a></span></li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @if (action == null)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <!-- small box -->
                        <div class="small-box bg">
                            <div class="inner">
                                <h3><i class="fa fa-cube"></i> 内容首页</h3>
                                <p>请点击左侧栏目列表进行管理！</p>
                            </div>
                        </div>
                    </div><!-- ./col -->
                </div><!-- /.row -->
            }
            else if(action == "list") 
            {
            <div class="box border">
                <div class="box-header">
                    <h3 class="box-title">@DNav.Details(classid)[0]["name"] <small>[<span>@modelname</span>模型]</small></h3>
                    <a href="?action=insert&classid=@classid" class="btn btn-sm pull-right bg">添加</a>
                </div>
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th width="120">提交时间</th>
                                <th width="45">管理</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRowView it in DContent.List(classid))
                            {
                                <tr>
                                    <td><a href="?action=update&classid=@classid&id=@it["id"]">@it["title"]</a></td>
                                    <td>@it["inputdate"]</td>
                                    <td><a href="?action=update&classid=@classid&id=@it["id"]" class="label label-primary">修改</a>&nbsp;<a href="?action=delete&classid=@classid&id=@it["id"]" onclick="return confirm('确定将此记录删除?')" class="label label-success">删除</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            }
            else
            {
                <div class="box border">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span>@((action == "update") ? "更新" : "添加")</span>数据 <small>[<span>@modelname</span>模型]</small></h3>
                        <a href="?action=list&classid=@classid" class="btn btn-sm pull-right bg">返回</a>
                    </div>
                    <form method="post" action="">
                        <div class="box-body">
                            <div class="form-group">
                                <label>@defaultfield[0]["name"]</label>
                                <input type="text" name="st_title" class="form-control" value="@db[0]["title"]" placeholder="@defaultfield[0]["name"]">
                            </div> 
                            @if (@defaultfield[1]["ischecked"])
                            {
                                <div class="form-group">
                                    <label>@defaultfield[1]["name"]</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="st_image" id="st_image" class="form-control" value="@db[0]["image"]" placeholder="@defaultfield[1]["name"]">
                                        <span class="input-group-btn">
                                            <a class="btn bg image_upload">上传图片</a>
                                        </span>
                                    </div>
                                    @Html.TextArea("st_image_upload")
                                </div>
                            }
                            @if (@defaultfield[2]["ischecked"])
                            {
                                <div class="form-group">
                                    <label>@defaultfield[2]["name"]</label>
                                    @Html.TextArea("st_content", db[0]["content"].ToString(), new { @style = "height:200px" })
                                </div>
                            }
                            @if (@defaultfield[3]["ischecked"])
                            {
                                <div class="form-group">
                                    <label>@defaultfield[3]["name"]</label><br />
                                    @Html.RadioList("st_ishide", new Dictionary<string, string>() { { "不隐藏", "0" }, { "隐藏", "1" } }, db[0]["ishide"].ToString())
                                </div>
                            }
                            @if (diyfield != null)
                            {
                                foreach (var it in diyfield)
                                {
                                     <div class="form-group">
                                        <label>@it["name"]</label><br />
                                        @ST.Framework.Form.Form.FormList(it["field"], it["name"], it["default"], it["bind"], it["type"])
                                    </div>
                                }
                            }
                            <div class="form-group">
                                <label>提交时间</label>
                                <input type="text" name="st_inputdate" class="form-control" value="@db[0]["inputdate"]" placeholder="提交时间">
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="reset" class="btn btn-default"><i class="fa fa-circle-o-notch"></i> 重置</button>
                                <button type="submit" class="btn bg"><i class="fa fa-pencil"></i> @((action == "update") ? "更新" : "添加")</button>
                            </div>
                            @{if (action == "update")
                            {<a class="btn btn-default" href="?action=delete&classid=@classid&id=@id" onclick="return confirm('确定将此记录删除?')"><i class="fa fa-trash-o"></i> 删除</a>}}
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
            }
        </div>
    </div>
</section>
@section style {
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
    <style type="text/css">
        .box .nav-stacked {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .box .nav-stacked li {
                padding: 8px 15px;
            }
        .table thead tr th {
            border-bottom:4px solid #ddd;
        }
    </style>
}
@section scripts {
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="plugins/fastclick/fastclick.min.js"></script>
    <script>
        $(function () {
            $('#example2').DataTable({
                "searching": false,
                "stateSave1": true,
                "aaSorting": [[1,'desc']],
                "aoColumnDefs": [{ "bSortable": false, "aTargets": [2] }],
                "language": {
                    "lengthMenu": "每页 _MENU_ 条记录",
                    "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                    "infoEmpty": "无记录",
                    "sEmptyTable": "数据为空",
                    "oPaginate": {
                        "sPrevious": "上页",
                        "sNext": "下页",
                    }
                }
            });
        });
    </script>
    <script src="plugins/ueditor/ueditor.config.js"></script>
    <script src="plugins/ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
        //编辑器
        if ($("#st_content").length != 0)
        {
            UE.getEditor("st_content");
        }
        if ($("#st_image_upload").length != 0)
        {
            var image = UE.getEditor("st_image_upload", { autoHeightEnabled: false });
            image.ready(function () {
                image.hide();
                image.addListener("beforeInsertImage", function (t, arg) {
                    $("#st_image").attr("value", arg[0].src);
                });
            });

            $(".image_upload").click(function () {
                image.getDialog("insertimage").open();
            });
        }
    </script>
}